.App {
  margin: 4px;
  max-width: 900px;
}

header {
  text-align: center;
}

.container {
  display: flex;
}

nav {
  width: 30%;
  border: 1px solid black;
  margin-right: 2px;
}

main {
  width: 70%;
  border: 1px solid red;
}

.folder {
  margin: 1px;
  border: 1px solid black;
}

.note {
  margin: 1px;
  border: 1px solid black;
}