.App {
  margin: 4px;
  max-width: 900px;
}

header {
  text-align: center;
}

.container {
  display: flex;
}

nav {
  width: 30%;
  border: 1px solid black;
  margin-right: 2px;
}

.active {
  font-weight: bold;
}

.add-folder-button {
  text-decoration: none;
  background-color: lightblue;
  padding-right: 8px;
}

main {
  width: 70%;
  border: 1px solid red;
}

.folder {
  margin: 1px;
  border: 1px solid black;
}

.Note {
  margin: 1px;
  border: 1px solid black;
}

.Note-header {
  display: flex;
  justify-content: space-between;
}

.Note button {
  color: red;
}